<img src="\assets\art_gallery\christmas.png" alt="christmas card" class="image" id="christmas-card">
<img src="\assets\art_gallery\fish_hard.png" alt="fish" class="image" id="fish-hard">
<img src="\assets\art_gallery\fish_easy.png" alt="fish" class="image" id="fish-easy">
<img src="\assets\art_gallery\freebelarus.png" alt="freedom (for belarus)" class="image" id="free-belarus">
<img src="\assets\art_gallery\lubko.png" alt="man face" class="image" id="man-face">
<img src="\assets\art_gallery\rose.png" alt="rose" class="image" id="rose">
