<div class="cv-day-cv" id="cv">
    <div class="top-text">
        <div class="name">Lucia Ohmanova</div>
        <div class="mail">lucia.ohmanova@gmail.com</div>
    </div>
    <div class="middle-text-cv" id="cv-middle-text">
        <div class="professional_experience">
            <div class="heater">PROFESSIONAL EXPERIENCE</div>
            <hr>
            <hr class="line">
            <div class="years">2018 - 2019</div>
            <div class="text">Barcays
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
                bla bla b;a afhfjkdhak ahjskfa afhkjvhfa afkjfa
            </div>
        </div>
        <hr class="space">

        <div class="education">
            <div class="heater">EDUCATION</div>
            <hr>
            <hr class="line">
            <div class="years">2018 - 2019</div>
            <div class="text">MatFyz</div>
        </div>
        <hr class="space">

        <div class="technical_skills">
            <div class="heater">TECHNICAL SKILLS</div>
            <hr>
            <hr class="line">
            <div class="years">2018 - 2019</div>
            <div class="text">MatFyz</div>
        </div>
        <hr class="space">

    </div>
</div>
