<div class="cv-day" id="cv">
    <div class="top_text">
        <div class="name">Lucia Ohmanova</div>
        <div class="mail">lucia.ohmanova@gmail.com</div>
    </div>
    <div class="middle_text">
        <div class="professional_experience">
            <div class="heater">PROFESSIONAL EXPERIENCE</div>
            <hr>
            <hr class="inside">
            <div class="years">2018 - 2019</div>
            <div class="text">Barcays</div>
        </div>
        <hr class="outside">

        <div class="education">
            <div class="heater">EDUCATION</div>
            <hr>
            <hr class="inside">
            <div class="years">2018 - 2019</div>
            <div class="text">MatFyz</div>
        </div>
        <hr class="outside">

        <div class="technical_skills">
            <div class="heater">TECHNICAL SKILLS</div>
            <hr>
            <hr class="inside">
            <div class="years">2018 - 2019</div>
            <div class="text">MatFyz</div>
        </div>

    </div>
</div>
