<div class="cv-day-cv" id="cv">
    <div class="top-text">
        <div class="name">Lucia Ohmanova</div>
        <div class="mail"><a href="mailto:lucia.ohmanova@gmail.com">lucia.ohmanova@gmail.com</a></div>
        <div class="git"><a href="https://github.com/Lucifuria/">https://github.com/Lucifuria</a></div>
    </div>
    <div class="middle-text-cv" id="cv-middle-text">
        <div class="education">
            <div class="heater">Education</div>
            <hr>
            <hr class="line">
            <div class="years">2013 - 2018</div>
            <div class="text">
                <b>Bachelor in Computer Science,</b> Charles University in Prague
            </div>

            <div class="years">2017</div>
            <div class="text">
                <b>University of Padova,</b> Erasmus+, Computer Science
            </div>
        </div>
        <hr class="space">

        <div class="projects">
            <div class="heater">My Projects</div>
            <hr>
            <hr class="line">
            <div class="years"><b>Bachelor thesis</b></div>
            <div class="text">Visualizer of geometric constructions given by construction steps, available at <a href="https://github.com/Lucifuria/BachelorThesis">github</a>, developed in C# using Windows Forms.
             </div>
             <div class="years"><b>Hungry Birds</b></div>
            <div class="text">Collaborated in development of a simple Unity game downloadable from Google Play, source available at <a href="https://github.com/Kerzak1408/Hungry-Birds">github</a>.
            </div>
        </div>
        <hr class="space">

        <div class="jobs">
            <div class="heater">Employment History</div>
            <hr>
            <hr class="line">
            <div class="years">07/01/2018 – 11/30/2019</div>
            <div class="text"><b>Barclays Services Limited, </b>Front-end C# Developer, Web Developer using Angular</div>
        </div>
        <hr class="space">

        <div class="skills">
            <div class="heater">Technilcal Skills</div>
            <hr>
            <hr class="line">
            <div class="years">Advanced</div>
            <div class="text">C#, HTML, CSS, Typescript, Java, C++</div>
            <div class="years">Basic</div>
            <div class="text">Git, JavaScript, SQL, Unity, Haskell, Prolog, Android Studio, UNIX/Linux</div>
        </div>
        <hr class="space">

        <div class="cources">
            <div class="heater">Courses and Training</div>
            <hr>
            <hr class="line">
            <div class="years">Komprax</div>
            <div class="text">Education of young leaders (2012, 2013, IUVENTA).</div>
            <div class="years">Volunteering</div>
            <div class="text">Mathematical correspondence seminars Malynar and PraSe.</div>
        </div>
        <hr class="space">

    </div>
</div>
