div.cv-day-cv {
    color: #080435;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: calc(10%);
    left: calc(10px);
    width: calc(100% - 10px);
    float: left;
    height: calc(90%);
    font-size: 0.35rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-night-cv {
    color: #B8B4E6;
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: calc(10%);
    left: calc(10px);
    width: calc(100% - 10px);
    float: left;
    height: calc(90%);
    font-size: 0.35rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-day-cvhome {
    color: #080435;
    background-color: white;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2);
    top: calc((100% - 200px)/2);
    width: 200px;
    height: 200px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-night-cvhome {
    color: #B8B4E6;
    background-color: black;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2);
    top: calc((100% - 200px)/2);
    width: 200px;
    height: 200px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-day-home {
    color: #080435;
    background-color: white;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2 + 100px);
    top: calc(80% - 100px);
    width: 0px;
    height: 0px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-night-home {
    color: #B8B4E6;
    background-color: black;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2 + 100px);
    top: calc(80% - 100px);
    width: 0px;
    height: 0px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-day-portfoliohome {
    color: #080435;
    background-color: white;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2 + 100px);
    top: calc((100% - 200px)/2 + 100px);
    width: 0px;
    height: 0px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-night-portfoliohome {
    color: #B8B4E6;
    background-color: black;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2 + 100px);
    top: calc((100% - 200px)/2 + 100px);
    width: 0px;
    height: 0px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-day-portfolio {
    color: #080435;
    background-color: white;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2 + 100px);
    top: calc((100% - 200px)/2 + 100px);
    width: 0px;
    height: 0px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.cv-night-portfolio {
    color: #B8B4E6;
    background-color: black;
    position: fixed;
    overflow: hidden;
    left: calc((100% - 200px)/2 + 100px);
    top: calc((100% - 200px)/2 + 100px);
    width: 0px;
    height: 0px;
    font-size: 0.1rem;

    -webkit-transition: 1.0s, text-shadow 0.0s;
    transition: 1.0s, text-shadow 0.0s;
}

div.top-text{
    position: relative;
    top: calc(10px);
    left: calc(10px + 100px);
    height: 110px;
}

div.name {
    font-size: 500%;
}

div.mail {
    font-size: 250%;
}

div.git {
    font-size: 250%;
}

div.middle-text-cvhome {
    position: relative;
    overflow: hidden;
    top: calc(10px);
    height: calc(100% - 20px - 100px);
    left: calc(0px);
}

div.middle-text-cv {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    top: calc(10px);
    height: calc(100% - 20px - 100px);
    left: calc(0px);
}

div.heater {    
    font-size: 400%;    
}

div.text {    
    font-size: 300%;   
}

hr {
    width: calc(100%);
}

ul {
    margin: 0;
}

hr.line { 
    height:3px; 
    visibility:hidden; 
    margin-bottom:-1px; 
}

hr.space {
     height: calc(min(30px,30%)); 
     visibility:hidden; 
     margin-bottom:-1px; 
}