<app-background-image (wheel)="onMouseWheel($event)"></app-background-image>
<app-cv *ngIf="cv_page" (wheel)="onMouseWheel($event)" (click)="goInto($event)"></app-cv>
<app-portrait-image (wheel)="onMouseWheel($event)" (click)="goInto($event)"></app-portrait-image>
<app-home *ngIf="home_page" (wheel)="onMouseWheel($event)"></app-home>
<app-cvhome *ngIf="cvhome_page" (wheel)="onMouseWheel($event)"></app-cvhome>
<app-portfoliohome *ngIf="portfoliohome_page" (wheel)="onMouseWheel($event)"></app-portfoliohome>
<app-nigh-mode-switch (wheel)="onMouseWheel($event)"></app-nigh-mode-switch>
<app-go-back *ngIf="go_back" (wheel)="onMouseWheel($event)" (click)="goBack($event)"></app-go-back>
<app-go-home *ngIf="go_home" (wheel)="onMouseWheel($event)" (click)="goHome($event)"></app-go-home>
<router-outlet></router-outlet>
