.background-photo-day-home {  
    opacity: 100%;
    width : calc(max(101vw,140vh));
    position: fixed;
    left: 0px;
    bottom: 30%;     

    -webkit-transition: 1.0s;
    transition: 1.0s;
}  

.background-photo-night-home {
  opacity: 35%;
  width : calc(max(101vw,140vh));
  position: fixed;
  left: 0px;
  bottom: 30%;

  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-mask-home {
  height: 70%;
  width: 101%;
  background-color: black;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 30%;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-cover-day-home {
  height: 0px;
  width: calc(max(101vw,140vh));
  background-color: white;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-cover-night-home {
  height: 0px;
  width: calc(max(101vw,140vh));
  background-color: black;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}



.background-photo-day-cvhome {  
  opacity: 100%;
  width : calc(max(101vw,140vh));
  position: fixed;
  left: 0px;
  bottom: 0px;      

  -webkit-transition: 1.0s;
  transition: 1.0s;
}  

.background-photo-night-cvhome {
opacity: 35%;
width : calc(max(101vw,140vh));
position: fixed;
left: 0px;
bottom: 0px;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-mask-cvhome {
height: 101%;
width: 101%;
background-color: black;
display: inline-block;    
position: fixed;
left: 0px;
bottom: 0px;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-cover-day-cvhome {
  height: 0px;
  width: calc(max(101vw,140vh));
  background-color: white;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-cover-night-cvhome {
  height: 0px;
  width: calc(max(101vw,140vh));
  background-color: black;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}





.background-photo-day-portfoliohome {  
  opacity: 100%;
  width : calc(max(101vw,140vh));
  position: fixed;
  left: 0px;
  bottom: -30%;     

  -webkit-transition: 1.0s;
  transition: 1.0s;
}  

.background-photo-night-portfoliohome {
opacity: 35%;
width : calc(max(101vw,140vh));
position: fixed;
left: 0px;
bottom: -30%;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-mask-portfoliohome {
height: 101%;
width: 101%;
background-color: black;
display: inline-block;    
position: fixed;
left: 0px;
bottom: 0px;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-cover-day-portfoliohome {
  height: 0px;
  width: calc(max(101vw,140vh));
  background-color: white;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-cover-night-portfoliohome {
  height: 0px;
  width: calc(max(101vw,140vh));
  background-color: black;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}




.background-photo-day-cv {  
  opacity: 100%;
  width : calc(max(101vw,140vh));
  position: fixed;
  left: 0px;
  bottom: 0px;      

  -webkit-transition: 1.0s;
  transition: 1.0s;
}  

.background-photo-night-cv {
opacity: 35%;
width : calc(max(101vw,140vh));
position: fixed;
left: 0px;
bottom: 0px;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-mask-cv {
height: 101%;
width: 101%;
background-color: black;
display: inline-block;    
position: fixed;
left: 0px;
bottom: 0px;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-cover-day-cv {
  height: 90%;
  width: calc(max(101vw,140vh));
  background-color: white;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-cover-night-cv {
  height: 90%;
  width: calc(max(101vw,140vh));
  background-color: black;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}




.background-photo-day-portfolio {  
  opacity: 100%;
  width : calc(max(101vw,140vh));
  position: fixed;
  left: 0px;
  bottom: -30%;     

  -webkit-transition: 1.0s;
  transition: 1.0s;
}  

.background-photo-night-portfolio {
opacity: 35%;
width : calc(max(101vw,140vh));
position: fixed;
left: 0px;
bottom: -30%;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-mask-portfolio {
height: 101%;
width: 101%;
background-color: black;
display: inline-block;    
position: fixed;
left: 0px;
bottom: 0px;

-webkit-transition: 1.0s;
transition: 1.0s;
}

.background-photo-cover-day-portfolio {
  height: 90%;
  width: calc(max(101vw,140vh));
  background-color: white;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.background-photo-cover-night-portfolio {
  height: 90%;
  width: calc(max(101vw,140vh));
  background-color: black;
  display: inline-block;    
  position: fixed;
  left: 0px;
  bottom: 0px;
  
  -webkit-transition: 1.0s;
  transition: 1.0s;
}