.up-down-arrow-dark-day-home {
    opacity: 1;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(-90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.up-down-arrow-light-day-home {
    opacity: 0;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(-90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.up-down-arrow-dark-night-home {
    opacity: 0;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(-90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.up-down-arrow-light-night-home {
    opacity: 1;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(-90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}





.up-down-arrow-dark-day-cvhome {
    opacity: 1;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.up-down-arrow-light-day-cvhome {
    opacity: 0;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.up-down-arrow-dark-night-cvhome {
    opacity: 0;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}

.up-down-arrow-light-night-cvhome {
    opacity: 1;
    position: fixed;
    right: calc(12px);
    bottom: calc(12px);
    transform: rotate(90deg);
    height: 5%;

    -webkit-transition: 1.0s;
    transition: 1.0s;
}